
{% extends 'layout.html' %}

{% block content %}
    <h1 class="text-3xl mb-8">Bezoeker pagina</h1>
    <p id="hidden-p">{{presentaties}}</p>

    <script>
        var hiddenP = document.getElementById("hidden-p").innerHTML;
        console.log("hiddenP");
        console.log(hiddenP);
    </script>


{% endblock %}

<script>
    // function bezoekerToevoegenAanPresentatie(presentatieId) {
    //     console.log("presentatieId")
    //     console.log(presentatieId)
    //     // Use JavaScript to make an asynchronous request to your Flask route
    //     fetch(`/call_python_function`, {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json',
    //         },
    //         body: JSON.stringify({
    //         presentatieId: presentatieId,
    //         bezoekerId: "123",
    //     }),
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //         console.log(data);
    //     })
    //     .catch(error => {
    //         console.error('Error:', error);
    //     });
    // }
    // document.getElementById("myButton").onclick = bezoekerToevoegenAanPresentatie;

    // document.querySelectorAll('.inschrijf_button').forEach(function(button) {
    //     button.onclick = function() {
    //         bezoekerToevoegenAanPresentatie(this.id)
    //     };
    // });
</script>